@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/aos/src/sass/aos.scss";
@import "../../node_modules/flickity/css/flickity";
@import "./custom.scss";
@import "./decorations.scss";
@import "./typography.scss";
@import "./variable-theme.scss";
@import "./dropdowns.scss";
@import "./navs.scss";

$leapBlue: #3755be;
$leapPink: #ff8e88;
$leapDarkBlue: #1b1f3b;
html {
  scroll-behavior: smooth;
  overflow-x: hidden!important;
}
body {
  padding: 0;
  overflow-x: hidden;
}
*, *::before, *::after {
  box-sizing: border-box;
}
::selection {
  background: #c3c4c6;
}
img {
  max-width: 100%;
}
a {
  color: $leapBlue;
}
.forward {
  z-index: 2;
}
.flex {
  display: flex !important;
}
.position-relative {
  position: relative;
  z-index: 1;
}
.justify-content-center {
  justify-content: center !important;
}
.opacity-20 {
  opacity: 0.2;
}
.o-hidden {
  overflow: hidden;
}
.flex-direction-column {
  flex-direction: column;
}
.text-center {
  text-align: center !important;
}
section {
  padding: 6rem 0;
}
header {
  top: 0;
  transition: 0.3s;
  position: fixed;
  width: 100%;
  z-index: 3;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  font-weight: 500;
  .navbar {
    padding: 1rem 1.5rem;
  }
  svg.darrow * {
    fill: black;
  }
  .btn-whit {
    font-weight: 500;
  }
  .dropdown-toggle::after {
    display: none;
  }
  .col-auto{
    .card{
      margin: 0;
    }
  }
  .dropdown-menu {
    padding: 0;
    border-radius: 30px !important;
    .card-body{
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border-radius: 10px !important;
    }
    .dropdown-item {
      font-weight: 500;
      color: rgba(73, 80, 87, 0.5);
      &:hover {
        background-color: transparent;
        color: black;
      }
      &:focus {
        background-color: transparent;
        color: black;
      }
      svg {
        fill: rgba(73, 80, 87, 0.5);
      }
      &:hover {
        background-color: transparent;
        fill: black !important;
      }
      &:focus {
        background-color: transparent;
        fill: black !important;
      }
    }
  }
  .dropdown-menu.row.show {
    display: inline;
    top: 50px;
  }
  .dropdowntwo {
    left: 166px;
    top: 5px!important;
  }
  .elements {
    position: fixed;
    background: $leapDarkBlue;
    left: 0;
    box-sizing: initial;
    max-width: inherit;
    max-height: calc(100vh - 250px);
    overflow: auto;
  }
  .support{
    width: 300px;
    div{
      padding: 5px 0px;
    }
  }
  @media only screen and (max-width: 767px) {
    .navbar-nav .show .dropdown-menu .dropdown-menu > li > a {
      padding: 16px 15px 16px 35px;
    }
    .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a {
      padding: 16px 15px 16px 45px;
    }
  }
  .navbar-toggler-open,
  .navbar-toggler-close {
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 1;
    transform: scale(1);
  }
  .navbar-dark .navbar-toggler {
    border: none;
  }
  .navbar-dark .navbar-toggler svg path {
    fill: #fff;
  }
  .navbar-toggler[aria-expanded="false"] .navbar-toggler-close {
    opacity: 0;
    transform: scale(0) rotate(45deg);
    display: none;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.85rem;
    padding-left: 0.85rem;
  }

  #navbarSupportedContent {
    @media screen and (min-width: 991px) {
      flex: none;
    }
  }
}
nav {
  z-index: 99;
}
.badge-primary {
  color: #fff;
  background-color: $leapBlue;
}
.bg-primary {
  background-color: $leapBlue !important;
}
.bg-primary-2 {
  background-color: $leapPink !important;
}
.bg-primary-2-alt {
  background-color: #fff8f8;
}
.bg-primary-3 {
  background-color: $leapDarkBlue !important;
}
.bg-primary-3-alt {
  background: #f1f2f3;
}
.text-primary-2 {
  color: $leapPink;
}
.text-primary-3 {
  color: $leapDarkBlue;
}

.first-section {
  width: 100%;
  height: 100vh;
  position: relative;
}
.container {
  z-index: 1;
}
.btn-white {
  background: white;
  color: $leapBlue;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 0.875rem 2.25rem !important;
}
.display-1,
.display-2 {
  line-height: 1;
  color: white;
}
.display-2 {
  font-size: 5.5rem;
  font-weight: 500;
  @media screen and (max-width: 400px) {
    font-size: 3.5rem;
  }
}
.display-4 {
  line-height: 4rem;
  font-weight: 500;
  @media screen and (min-width: 1200px) {
    margin-left: 4.5rem !important;
  }
}
.lead {
  font-size: 1.25rem;
  font-weight: 400;
}
.first-lead {
  color: white;
  padding: 0 4rem !important;
}
.mb-6,
.my-6 {
  margin-bottom: 4.5rem !important;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
svg.icon * {
  fill: #3755be;
}
.text-light svg.icon:not([class*="bg-"]) * {
  fill: #fff;
}
.icon.icon-md {
  height: 2.25rem;
}
.dots svg path {
  fill: white;
}
svg.bg-primary * {
  fill: $leapBlue;
}
svg.bg-white * {
  fill: #fff;
}
svg.bg-primary-1 * {
  fill: #372f65;
}
svg.bg-primary-2 * {
  fill: #ff8e88;
}

svg.icon[class*="bg-"] {
  background: none !important;
}
svg.bg-primary-3 * {
  fill: #1b1f3b;
}
#demos {
  background-color: #ffffff;
  z-index: 1;
  position: relative;
}
img.rounded,
div.rounded {
  border-radius: 0.625rem !important;
}
.pt-0 {
  z-index: 2;
  // position: relative;
  a {
    // color: black;
    text-decoration: none;
  }
}
.hover-shadow-3d {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  &:hover {
    box-shadow: 0.5rem 0.5rem 0 rgba($gray-200, 0.5);
    transform: translate3d(-4px, -4px, 0) rotateZ(-1deg);
  }
}
.hover-shadow-sm {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  &:hover {
    box-shadow: 0 0.125rem 0.625rem rgba(black, 0.05);
  }
}

.hover-arrow {
  &:after {
    display: inline-block;
    margin-left: 0.375rem;
    transition: transform 0.2s ease;
    content: "->";
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -ms-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
  }
  &:hover {
    &:after {
      transform: translate3d(6px, 0, 0);
    }
  }
}
.icon.icon-lg {
  height: 3rem;
}
.icon {
  flex-shrink: 0;
  width: auto;
  height: 1.5rem;
}
.bg-primary-alt {
  background: #f3f5fb;
}
.carousel-cell:not(.is-selected) {
  transform: scale(0.9);
  opacity: 0.25;
}
.is-selected {
  opacity: 1 !important;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.flickity-button {
  @media screen and (max-width: 1200px) {
    display: none;
  }
}
.layer-1 {
  z-index: 1;
}
.layer-2 {
  z-index: 2;
}
.accordion-panel-title[aria-expanded="true"] > *, .accordion-panel-title:hover > * {
  color: #3755BE;
}
.divider:not(:first-child) {
  top: 1px;
}
.divider {
  margin-top: 55px;
  position: relative;
}
.divider svg:not([class*="bg"]) path {
  fill: #fff;
}
.has-divider {
  padding-bottom: 0;
}
.divider svg {
  background: none !important;
  height: 6vw;
}
.alert-primary {
  color: #334eaf;
  background-color: #e7ebf7;
  border-color: #b7c2e8;
}
.avatar {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  @media screen and (min-width: 992px) {
    width: 4.5rem;
    height: 4.5rem;
  }
}
.avatar-author {
  display: flex;
}
.reviews{
  flex-direction: row-reverse;
}
.highlight {
  display: inline;
  background: rgba(255, 142, 136, 0.2);
}
.accordion-panel-title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.avatars {
  padding-left: 0;
  list-style: none;
  display: flex;
  margin-bottom: 0;
}
.modal-body{
  z-index: 2;
}
.avatars > li:not(:last-child) {
  margin-right: -0.75rem;
}
.avatars > li {
  position: relative;
}
.avatars .avatar {
  border: 2px solid #fff;
}
[data-recaptcha]:not([data-size="invisible"]) {
  margin-bottom: 0.75rem;
}
.notrobot{
  @media screen and (max-width: 400px) {
    width: 160%;
    transform: scale(0.8) translate(-32px, -6px);
  }

}
footer {
  padding: 6rem 0;
}
.btn-primary{
  color: #fff;
  background-color: #3755be;
  border-color: #3755be;
  &:hover{
    color: #fff;
  background-color: #3755be;
  border-color: #3755be;
  }
}
.btn.back-to-top {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 1020;
}
.btn-round {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-to-top svg.icon *{
  fill: white
}